*.exe
*.hex
*.bin
*.map
*.log
*.elf
*.ihex
*.dep
*.swp
*.py
*.pyc
*.pbm
*.o
tags
objs.*/
unittest/screen/
build/Debug
build/Retail
build/Settings
build/watchCustomSfr.sfr
build/*.txt
*.sublime-project
*.sublime-workspace
buildlocal.bat
build.bat
